[Unit]
Description=UnionFS Mount (plexdrive)
AssertPathIsDirectory=/plexmedia/media
After=plexdrive.service
Requires=plexdrive.service
PartOf=plexdrive.service

[Service]
Type=forking
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/unionfs-fuse -o cow,allow_other,direct_io,auto_cache,sync_read -o uid=1001 -o gid=1001 /plexmedia/local=RW:/plexmedia/plexdrive/plexmedia_clear=RO /plexmed$
ExecStop=/bin/fusermount -uz /plexmedia/media
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
