[Unit]
Description=Plexdrive
AssertPathIsDirectory=/plexmedia/plexdrive
After=syslog.target network.target
PropagatesReloadTo=plexunion.service plexmediaserver.service

[Service]
Type=simple
ExecStart=/usr/bin/plexdrive mount -c /home/user/.plexdrive --cache-file=/home/user/.plexdrive/cache.bolt -v 3 -o allow_other 
ExecStop=/bin/fusermount -uz /plexmedia/plexdrive
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
